## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [8]:
a = 10
print("el numero entero es:", a)

el numero entero es: 10

2) Imprimir el tipo de dato de la variable 8.5

In [21]:
a = 8.5
print(type(a))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [26]:
a = 10
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [31]:
nombre="Tomas"  
print(f"MI NOMBRE ES:{nombre}")

MI NOMBRE ES:Tomas

5) Crear una constante que contenga el número Pi

In [41]:
PI = 3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [40]:
PI = 3.14
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [1]:
E = 2.7125

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [47]:
variable = True #BOOLEANO
contienevalor = "True" #STRING
##NO SON LOS MISMOS YA QUE UNO ES "BOOLEANO" Y EL OTRO ES UN "STRING"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [51]:
variable = True
contienevalor = "True"
print(type(variable))
print(type(contienevalor))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [53]:
a = 1
b = 3.05
import math
print("La suma de a y b es:", a+b)

La suma de a y b es: 4.05

11) Realizar una operación de suma de un número definido como string con un entero

In [60]:
entero = 10
string = "12"
print(entero + int(string))

22

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [2]:
print(E**3)

19.957642578124997

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [3]:
numeroingresado = float(input("Ingrese el primer valor"))
numero2 = float(input("Ingrese el segundo valor"))
resultado = numeroingresado * numero2
print ("El resultado de la multiplicación es:", resultado,)

El resultado de la multiplicación es: 25.0

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [73]:
primernumero = 27
segundonumero = 4
resultado = primernumero / segundonumero
cociente = primernumero // segundonumero
print("La division entre 27 y 4 es:", resultado,"y el cociente es:", cociente,)

La division entre 27 y 4 es: 6.75 y el cociente es: 6

15) De la división anterior solamente mostrar la parte entera

In [74]:
print("La parte entera de la división anterior es:", cociente,)

La parte entera de la división anterior es: 6

16) De la división de 27 entre 4 mostrar solamente el resto

In [76]:
resto = primernumero % segundonumero
print("El resto de la división es:", resto,)

El resto de la división es: 3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [78]:
resultado = 4 * 6 + 3
print("El resultado es:", resultado,)

El resultado es: 27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [80]:
numero1 = "2" #texto
numero2 = 2 #valor
evaluado = numero1 = numero2
if evaluado == True:
    print ("Ambos numeros son iguales")
else:
    print("Ambos numeros no son iguales")
#Ambos números no son iguales ya que uno es un texto y el otro es un valor

Ambos numeros no son iguales

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [86]:
##cambio de dato
numero1 = int(numero1)
cambio = numero1 == numero2
if cambio == True:
    print("Ambos numeros son iguales")
else:
    print("Ambos numeros no son iguales")

Ambos numeros son iguales

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [97]:
# a = float('3,8') entre medio de los numeros hay una coma entonces los separa
a = float('3.8')
print(a)

3.8

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [99]:
#operacion = 2 + '2' no está permitido porq son de diferente tipos. Exeptuando si se convierten con el int/str/float
#Si los operandos fueran del mismo tipo siempre arrojarian el mismo resultado al no ser que cambie de tipo
#Si cambia de tipo a string los juntaría y daria 22
#si son de tipo entero los sumaria "2+2=4"
#si son de tipo decimal daria numero con coma si se le agrega un valor demás.

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [104]:
menu ="""
Menu de comidas
1) Pizza          2) Empanadas
3) Milanesas      4) Salir
"""
print(menu)

Menu de comidas
1) Pizza          2) Empanadas
3) Milanesas      4) Salir

23) Crear una lista que contenga los números del 1 al 10

In [106]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [107]:
print(numeros[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [112]:
numeros.pop(2)
numeros.insert(2, "Tomás")

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [139]:
matriz = [
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
]

27) Imprimir la matriz creada en el punto 26

In [140]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [141]:
matriz [1][1] = 'z'
print(matriz)

[['A', 'B', 'C'], ['D', 'z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [142]:
matriz [0] = [1, 2, 3]

print(matriz)

[[1, 2, 3], ['D', 'z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [147]:
tupla = ('Nike','Adidas', 'Fila', 'Lacoste', 'Supreme')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [150]:
print(tupla[0])

Nike

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [151]:
#Las tuplas no se pueden modificar, las listas si se modifican.

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [158]:
diccionario = {"nombre":"Tomas", "apellido":"Tobares", "edad":18, "hobbies": ["Dibujar", "Pintar", "Leer"]}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [164]:
print(diccionario["hobbies"])

['Dibujar', 'Pintar', 'Leer']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [175]:
diccionario["edad"] = 19
print(diccionario)

{'nombre': 'Tomas', 'apellido': 'Tobares', 'edad': 19, 'hobbies': ['Dibujar', 'Pintar', 'Leer']}